main {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 80px;
}

#letter-search {
  text-align: center;
}

#letter-search a {
  margin-left: 3px;
  margin-right: 3px;
}

#cocktails {
  margin-top: 40px;
}

.center {
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#single-cocktail {
  margin-top: 40px;
}

#single-cocktail img {
  margin-bottom: 20px;
}
